body {
    padding: 10px;
}

h1 {
    text-align: center;
}

.titulo {
    padding: 10px;
    background-color: red;
    color: white;
}

.instructions {
    background: lightblue;
    margin-top: 10px;
    padding: 10px;
}

.diamonds {
    background: gray;
    margin: 15px;
    padding: 25px;
    width: 545px;
}